* {
    margin: 0%;
    padding: 0%;
  
}



/* .container3{
    width: 100%;
    height: 100%;
    padding: 50px;
    background-image: url("https://innovature.letsachieve.co/images/illustration/img-1.png"), linear-gradient(#7181f7, #525252);
     background-repeat: no-repeat;
    background-size: 100% 100%;
  } */

/* .btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd;
    width: 100%;
    padding: 0%;
} */

.container3 {
padding: 100px;
    background-image: url("https://innovature.letsachieve.co/images/illustration/img-1.png"), linear-gradient(#ffffff, #ffffff);
    min-height: 400px;
    height: 1000px;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: repeat-y;
    background-size: cover;
    position: relative;
    animation: rating2 1.2s ease-in-out  ;
}

.box {
    position: relative;
    width: 100%;
    border-radius: 10px;
   
    height: 100%;
    box-shadow: rgba(167, 167, 167, 0.3) 0px 19px 38px, rgba(198, 198, 198, 0.22) 0px 15px 12px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(115deg, rgb(255, 255, 255)  40%,  rgb(255, 255, 255) 10%,  rgb(171, 230, 255)  20%);
    animation: rating2 1.2s ease-in-out  ;
} 
@keyframes rating2{
0%{
opacity: 0;
}
70%{
opacity: 1;
}
100%{
opacity: 1;
}
}

.btn1 {

    /* background-image: url("https://freepngimg.com/save/24227-vector-hd/800x600"); */
    background-position:50%  ;
    padding: 40px;
    
    outline: none;
    box-shadow: rgba(205, 205, 205, 0.3) 0px 19px 38px, rgba(209, 209, 209, 0.22) 0px 15px 12px;
    min-height:0;
    cursor: pointer;
    -webkit-transition: all ease-in .1s;
    transition: all ease-in .1s
    
}
.btn1:hover{
    opacity: 1;
    cursor: pointer;
   border-color: #ffffff;
   background-color: rgb(255, 255, 255);

    -webkit-transition: all ease-in .3s;
    transition: all ease-in .1s;
    transform: scale(1.03);
    box-shadow: rgba(108, 108, 108, 0.3) 0px 19px 38px, rgba(125, 242, 255, 0.22) 0px 15px 12px;

}




@media screen and (max-width: 900px) and (min-width: 400px){
    .container3 {
        background-image: url("https://innovature.letsachieve.co/images/illustration/img-1.png"), linear-gradient(#ffffff, #ffffff);
        min-height: 200px;
        height: 400px;
        width: 105%;

        /* Center and scale the image nicely */
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

    }
    .btn1 {
    /* background-image: url("https://freepngimg.com/save/24227-vector-hd/800x600"); */
    background-position: 0%  ;
  
    outline: none;
    
    cursor: pointer;
    -webkit-transition: all ease-in .1s;
    transition: all ease-in .1s
    
}

}



@media screen and (max-width: 618px) and (min-width: 400px){
    .bg-img {
        background-image: url("https://innovature.letsachieve.co/images/illustration/img-1.png"), linear-gradient(#ffffff, #ffffff);
        min-height: 200px;
        height: 300px;
        width: 105%;

        /* Center and scale the image nicely */
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

    }
    .btn1 {
        /* background-image: url("https://freepngimg.com/save/24227-vector-hd/800x600"); */
        background-position: 40%  ;
        
        outline: none;
        
        cursor: pointer;
        -webkit-transition: all ease-in .1s;
        transition: all ease-in .1s
        
    }

}
.SignUpText{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 500;
}
.logo{
    width: 10%;
    height: auto;
}
#signInDiv{
 width: 100%;

}
.bck{
    width: 0%;
   
  
}
.cont{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
   
}
.box1{
    margin-top: 50%;
}