@media only screen and (max-width: 2000px) {
  .Icons2 {
    background-color:#edeff2;

    padding-top: 20px;

    /* position: absolute; */
    width: 19.8vw; /* height: 633px; */
    /* left: 12px; */
    /* top: 127px; */
    height: 100%;
    border-radius: 20px;
  }
  .imagess {
    background-color: #edeff2;

    border-radius: 40px;
  }

  .post-title {
    font-size: 0.9rem;
    right: 5px;
    width: 100%;
    background-color: #edeff2;
  }
  .post-body {
    font-size: small;
    background-color: #edeff2;
  }
  .image-wid {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .flex-container {
    width: 18vw;
    flex-direction: row;
    flex-basis: 10%;
    margin-bottom: 21px;
    display: flex;
    justify-content: center;
  }
  .post-card {
    width: clamp(1%, 4vw, 50px);
    border-radius: 50%;
    background-color: #edeff2;

    margin: 0;
    padding: 0;
  }
  .columnAAA {
    background-color: #edeff2;

    width: 50px;
  }
  .columnBBB {
    background-color: #edeff2;

    width: 200px;
  }
  .column {
    float: left;
    width: 20%;
    padding: 0 10px;
  }
  .row {
    width: 80.9%;

    background-color: #edeff2;
  }
  .row1 {
    width: 80.9%;

    background-color: #edeff2;
  }
  .row2 {
    width: 80.9%;

    background-color: #edeff2;
  }
  .container {
    border-radius: 20px;
    background-color: #edeff2;
  }
  .col-2 {
    border-radius: 40px;

    background-color: #edeff2;
  }
  .col {
    margin-left: 10px;
    width: 10px;
    background-color: #edeff2;
  }
  .heading {
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-left: 27%;
  }
}
@media only screen and (max-width: 500px) {
  .Icons2 {
    background-color: #edeff2;

    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-top: 40px;
    margin-top: 20px;
    /* position: absolute; */
    width: 400px; /* height: 633px; */
    /* left: 12px; */
    /* top: 127px; */
    border-radius: 20px;
    /* display: none; */
  }
}
.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommenttext {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}
.heading {
  font-size: 1.3rem;
}
/* @media only screen and (max-width: 600px) {
.Grid{
  background-color: red;
  width: 100%;
  
}.Grid2{
  background-color: rgb(5, 42, 255);
  display: none;
}} */

.containerss {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 2fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "post group";
}
.post-scroll {
  grid-area: post;
  background-color: #f9fafb;
  height: 86.7vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.group {
  grid-area: group;
  background-color:#f9fafb;
  height: 86.7vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 30px;
}
.post-sub {
  width: 98%;
}
.notAdded{
text-align: center;
}