PORT = 4000
MONGO_URI = mongodb+srv://ajay1600:ajaykumard@cluster0.wpagudr.mongodb.net/newdb2
GOOGLE_CLIENT_ID = 948869378175-2j4gta2nuea49a3slpap3fnnj4jqcfqm.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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